@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

videogular vg-controls .controls-container, [videogular] vg-controls .controls-container{   
    max-height: 40px;
}
body{
    font-family: 'Droid Arabic Kufi', sans-serif;
    /*background-color: #000;*/
}
div > videogular > vg-controls{
    height: 40px;
}
a, a:hover, a:visited, a:active{
    color: #fff;
    text-decoration: none;
}
.vg-controls-top{
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
}
.vd-container{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: table;
    zoom: 1;
    color: #fff;

    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5);
}
/****top-nav**/
.logo{
    margin: 15px 10px;
    float: right;
}
.match-time{
    margin:10px;
    float: left;
}
.match-result{
    width: 170px;
    margin:2px auto;
    padding: 0px 10px;
}
.match-result span{
    width: 65px;
    margin: 0 5px;
    font-weight: bold;
    font-size: 21px;
}
.match-result .team-home{
    float: right;
}
.match-result .team-home i{
    float: left;
    font-style: normal;
    padding: 5px;
}
.match-result .team-away{
    float: left;
}
.match-result .team-away i{
    padding: 5px;
    font-style: normal;
    float: right;
}
.vg-controls-right{
    width: 80px;
    /*height: calc(100vh);*/
    height: calc(100%);
    display: block;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 51px;
}
.vg-controls-right .vd-container{
    width: 80px;
    height: calc(100% - 94px);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: table;
    zoom: 1;
    color: #fff;
}
.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

/****------------right-nav-------****/
.right-nav{
    box-shadow: none;
}
.right-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.right-nav > ul > li > a,
.team-title{
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5) !important;
}
.right-nav > ul li:last-child {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
   box-shadow: none;
}

.right-nav ul li a{
    padding: 16px 5px;
    display: inline-block;
    font-size: 12px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.right-nav ul > li > a:hover, 
.right-nav .dropdown.open > a{
    -webkit-transition: 0.2s ease-out .2s;
    -moz-transition: 0.2s ease-out .2s;
    -o-transition: 0.2s ease-out .2s;
    transition: 0.2s ease-out .2s;
    background-color: rgba(0, 0, 0, 0.6);
    /*color: #8d3438;*/
    text-decoration: none;
}
.right-nav .dropdown.open{
    position: inherit;
}
.right-nav .dropdown-menu{
    right: 80px;
    top: 0;
    left: auto;
    color: #fff;
    background-color: transparent;
    border-radius: 0;
    min-width: 332px;
    height: 100%;
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    box-shadow: none;
}
.right-nav .dropdown-menu > ul > li {
    display: inline;
    float: right;
    height: calc(100vh - 96px);
    /*height: 100%;*/
}
.right-nav .dropdown-menu li > ul{
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: 1px;
    width: 165px;
    /*height: calc(100vh);*/
    height: 100%;
}
.right-nav ul li i{
    width: 100%;
}

dropdown-player-list ul > li > a span{
    color: #fff;
    border:1px solid #fff;
    float: right;
    padding:0 2px;
    margin:0 5px;
}
dropdown-player-list li.player-list{
    width: 100%;
}
dropdown-player-list li.player-list a{
    padding:10px 5px;
    color: #fff;
    text-align: right;
}
.team-title{
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;

}
.team-title img{
    display: block;
    margin:auto;
}
i.formattion{
    background: url(../images/formation.png) no-repeat center;
    display: inline-block;
    height: 24px;
    margin-bottom: 5px;
}
.bench{
    background:url(../images/bench.png) no-repeat center;
    display: inline-block;
    height: 27px;
    margin-bottom: 5px;   
}
.statistics{
    background:url(../images/statistics.png) no-repeat center;
    display: inline-block;
    height: 29px;
    margin-bottom: 5px; 
}
.plan{
    background:url(../images/plan.png) no-repeat center;
    display: inline-block;
    height: 35px;
    margin-bottom: 5px; 
}
.playing-areas{
    background:url(../images/playing_areas.png) no-repeat center;
    display: inline-block;
    height: 27px;
    margin-bottom: 5px; 
}
.screen-shot{
    background:url(../images/screen_shot.png) no-repeat center;
    display: inline-block;
    height: 21px;
    margin-bottom: 5px; 
}

#playe_pitch{
    background-color: rgba(0, 0, 0, 0.6);
    width: 260px;
    min-height: 190px;
    position: absolute;
    padding: 10px;
    right: 332px;
    top: 1px;
}

/****-------------vg-volume--------------****/

videogular vg-volume{
    display: block;
    border-right: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    float: right;
    padding: 7px 0px;
}
/*******pbp-dropdown******/
.game-events{
    width: 90px;
    font-size: 11px;
    font-weight: bold;
    display: table-cell;
    border-right: 1px solid rgba(255,255,255,0.5);
    color: #fff;
    text-align: center;
    padding: 0px;
    vertical-align: middle;

}
.game-events.open{
    background-color: #c53441;
}
.game-events .fa{
    position: absolute;
    top: -21px;
    left: 35px;
    color: #c53441;
}
.pbp-dropdown{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    min-width:220px;
    top: -232px;
    max-height: 220px;
    left: 10px;
    font-size: 12px;
    font-weight: normal;
    border-radius: 0;
} 
.playText{
    width: 70%;
    float: right;
    color: rgba(255,255,255,0.8);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    text-align: right;
    padding-bottom: 5px;
    padding-right: 5px;
}
.pbp-dropdown .minutes{
    margin-right: 10px;
    width: 15%;
    padding:2px 5px;
    float: right;
    color: #c53441;
    font-weight: bold;
    text-align: center;
}
.mCSB_inside > .mCSB_container{
    margin-right: 15px;
}
/******statis-drop*****/
.right-nav .statis-menu{
    min-width: 100px;
    margin:0 1px;
}
.statis-drop{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}
.right-nav .statis-drop span a{
    width: 100%;
    height: auto;
    display: block;
    padding: 20px 0;
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5) !important;
}
.right-nav .statis-drop span a:hover{
    transition: 0.2s ease-out .2s;
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
/****---------------------------****/
@media (min-width: 1200px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }
}