<div class="vg-controls-right" ng-if="API.isFullScreen || true">
    <div class="vd-container right-nav" >
        <ul>
        <li ng-repeat="tab in taps" is-open="tab.status" uib-dropdown on-toggle="toggled(open)">
            <a 
            uib-dropdown-toggle 
            href>
                <i class="{{tab.icon}}"></i> 
                {{tab.name}}
            </a>
            <dropdown-player-list 
            data="events"
            is-toggled="isToggled"
            pitch="pitch"
            tab-name="formattion"
            ng-if="tab.icon === 'formattion'" 
            class="uib-dropdown-menu">
            </dropdown-player-list>   
                     
            <dropdown-player-list 
            data="events"
            is-toggled="isToggled"
            pitch="pitch"
            tab-name="bench"
            ng-if="tab.icon === 'bench'" 
            class="uib-dropdown-menu">
            </dropdown-player-list>

            <statistics 
            is-toggled="isToggled"
            ng-if="tab.icon === 'statistics'" 
            class="uib-dropdown-menu statis-menu">
            </statistics>

            <div 
            is-toggled="isToggled" 
            id="playe_pitch" 
            class="uib-dropdown-menu statis-menu" 
            ng-if="tab.icon === 'plan'" 
            style="right: 85px;top: 35%">
                <pitch-player-formattion
                id-selector="formation_pitch"
                player-data="events">
                 </pitch-player-formattion>
            </div>
            
        </li>
        </ul>
    </div>
</div>