<div class="statis-drop">
<span><a href ng-click="playerList(g, $event)">الاهداف</a></span>
</div>

<div class="player-list-container" ng-if="playerListContainer">

    <div class="box-players" ng-repeat="goal in events['period_details'][0].goals">
        <span>
        <a href ng-click="playerInfo(goal, $event)">
        <i>{{goal.player.uniform}}</i> {{goal.player.displayName}}</a></span>
    </div>
    <!-- <i class="separate"></i> -->
    <div class="box-players" ng-repeat="goal in events['period_details'][1].goals">
        <span>
        <a href ng-click="playerInfo(goal, $event)">
        <i>{{goal.player.uniform}}</i> {{goal.player.displayName}}</a></span>
    </div>
</div>
<div id="playe_pitch" ng-if="pitch" style="right: 267px">
    <pitch-player id="pitch_player" id-selector="pitch_player" player-data="playerPitch"></pitch-player>
</div>