<div class="vg-controls-top">
    <div class="vd-container">
        <img class="logo" src="/images/logo-top.png" height="20">

        <div class="match-time">
            <vg-time-display ng-if="API.currentState === 'stop'">
            00:00
            </vg-time-display>
            <vg-time-display ng-if="API.currentState !== 'stop'">
            {{ currentTime - (1000*12.60) | date:'mm:ss' }}
            </vg-time-display>
        </div>

        <div class="match-result">
            <span class="team-home">
                <img src="http://api.123kora.code95.info/uploads/images/teams/logos/1445427374_54d3794602252f1010000273_1139.svg" height="42"/>
                <i>{{'1'}}</i>
            </span>
            <span class="team-away">
                <img src="http://api.123kora.code95.info/uploads/images/teams/logos/1445438373_54d3795702252f10100002dc_1129.svg" height="42"/>
                <i>{{'3'}}</i>
            </span>
        </div>

    </div>
</div>