<div class="videogular-container">
    <videogular id="videogular" vg-theme="config.theme">
    <vg-media vg-src="config.sources">
    </vg-media>

    <div class="vg-controls-top">
        <div class="vd-container">
            <img class="logo" src="/images/logo-top.png" height="20">
        </div>
    </div>
    
    <right-nav events="events"></right-nav>


    <vg-controls 
        vg-autohide="config.plugins.controls.autoHide" 
        vg-autohide-time="config.plugins.controls.autoHideTime">

        <div class="game-events" is-open="status.pbpIsOpen" uib-dropdown>
            <a href uib-dropdown-toggle>لحظه بلحظه</a>
            <i class="fa fa-caret-up fa-3x" ng-if="status.pbpIsOpen"></i>
            <div 
            class="pbp-dropdown uib-dropdown-menu" 
            ng-scrollbars ng-scrollbars-config="config.scrollbars">
                <div class="row" ng-repeat="pbp in pbpObj">
                     <p class="minutes">
                     {{pbp.time.minutes}}
                     </p>
                      <p class="playText">
                        {{pbp.playText}}
                      </p>
                </div>

            </div>
        </div>
        <div class="game-events">
            <label>ملاحظات</label>
        </div>

        <!-- <vg-play-pause-button></vg-play-pause-button> -->
        <!-- <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display> -->
<!--         <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar> -->
        <!-- <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display> -->
        <vg-volume>
            <vg-mute-button></vg-mute-button>
            <vg-volume-bar></vg-volume-bar>
        </vg-volume>

        <vg-fullscreen-button></vg-fullscreen-button>
    </vg-controls>

    <vg-overlay-play></vg-overlay-play>
    <vg-poster vg-url='config.plugins.poster'></vg-poster>
</videogular>
</div>